<tr>
  <td><%= order.id %></td>
  <td><%= order.name %></td>
  <td><%= order.price %></td>
  <td>
    <%= link_to "Checkout", momo_aio_payments_path(order_id: order.id), method: :POST, class: "btn btn-default" %>
  </td>
</tr>
